@import 'variables.scss';
@import 'settings.scss';
@import 'mixins.scss';
@import 'components.scss';
@import 'animations.scss';
@import 'about-me.scss';


/* HEADER */
.header-section{
    position: fixed;
    z-index: 997;
    width: 100%;
    background-color: rgba($color: #fff, $alpha: .2);
    transition: background-color 0.4s linear;

    &--scroll{
        background-color: rgba($color: #000, $alpha: .4);

        .nav-menu__list-children li{
            background-color: rgba($color: #000, $alpha: .4);
        }
    }
}
    
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
        
    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
    }
}

.logo-hw-img{
    width: 50px;
}

.nav-menu{
    display: none; 

    @include bp(medium) {
        display: block;
    }

    &__list{
        display: flex;
    }

    &__item{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &--has-children{
            display: flex;
            flex-direction: column;
            position: relative;  
            
            &:hover {
                .nav-menu__list-children {
                    display: block;
                }
            }
        }
    }

    &__link{
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 5px;
        margin: 0 5px;
        transition: color 0.2s ease-in-out;
        
        &:hover{
            color: $black-color;
        }
    }

    &__list-children{
        position: absolute;
        top: 100%;
        width: 100%;
        text-align: center;
        display: none;
        box-shadow: none;
        
        li{
            background-color: rgba($color: #fff, $alpha: .2);
            padding-bottom: 10px;

            a{
                transition: color .2s linear ;
                &:hover{
                    color: #000;
                }
            }
        }
    }


}


/* HERO */
.hero-section{
    height: 100vh;
    width: 100%;
    background: url('../../img/man-wearing-jacket-standing-on-wooden-docks-leading-to-body.jpg') no-repeat;
    background-size: cover;
    background-position: center;

    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        bottom:0;
        right: 0;
        background: $black-opacity;
        z-index: 0;
    }
}

.hero-section--weddings{
    background: url('../../img/IMG_0572.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-section--family {
    background: url('../../img/person-holding-baby.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-section--portrait {
    background: url('../../img/woman-in-black-tank-top.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}



.hero{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    &__logo{
        width: 300px;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        height: auto;

        @include bp(desktop){
            width: 450px;
        }
        @include bp(large) {
            width: 500px;
        }
    }

    &__icon{
        width: 100%;
        opacity: 0.1;
    }

    &__header{
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title{
        padding: 0 15px;
    }

    &__description{
        padding: 0 15px;
    }

    &__invide{
        margin-bottom: 90px;
        display: flex;
        flex-direction: column;
        color: white;
        @include bp(medium){
            margin-bottom: 50px;
        }
    }
}

.invide{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text{
        margin-bottom: 0px;
        font-size: 14px;

        @include bp(medium){
            font-size: 16px;
        }
    }

    &__icons{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__item{
        position: absolute;
        opacity: 0;
        animation-name: slide-down;
        animation-duration: 4s;
        animation-iteration-count: infinite;

        &--delay {
            animation-delay: 2s;
        } 
    }
}

/* ABOUT ME SECTION  */

.about-section{
    padding: 40px 0;
    background: $primary-gradient;

    @include bp(small){
        padding: 50px 0;

    }
    @include bp(medium) {
        padding: 60px 0;
    }
    @include bp(medium) {
        padding: 100px 0;
    }
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title{
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    &__content{
        margin: 20px auto 20px auto;
        position: relative;

        @include bp(medium) {
            width: 700px;
            margin: 30px auto 30px auto;
        }
        @include bp(desktop) {
            width: 900px;
        }

        
    }

    &__button{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 15%;
            height: 1px;
            background-color: $white-color;
            top: 50%;
            left: 0;
        }

        &::after {
            content: '';
            position: absolute;
            width: 15%;
            height: 1px;
            background-color: $white-color;
            top: 50%;
            right: 0;
        }

        &::before,
        &::after {
            @include bp(small) {
                width: 30%;
            }
        }
    }
}
.divider{
    background-color: $white-color;
    padding: 40px 0;
    display: flex;
    justify-content: center; 
    position: relative;

    @include bp(desktop){
        padding: 60px 0 ;
    }
    
    @include bp(large) {
        padding: 120px 0;
    }

    &__icon{
        display: none;
        width: 40px;
        height: 40px;
        position: absolute;
        
        @include bp(small){
            display: block;
        }

        @include bp(desktop){
            width: 60px;
            height: 60px;
        }

        &--left{
            top: 50%;
            left: 25%;
            transform: translate(-50%, -50%);
        }
        &--right {
            top: 50%;
            right: 25%;
            transform: translate(50%, -50%);
        }
    }
    &--background-image{
        background: url('../../img/divider-background.jpg') no-repeat;   
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        min-height: 300px;
        position: relative;
        
        &::before{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $black-opacity;
        }

        @include bp(desktop){
            height:400px;
        }
    }
}

/* PORTFOLIO SECTION  */

.portfolio-section{
    padding: 40px 0;
    background-color: $light-gray-color;

    @include bp(small) {
        padding: 50px 0;

    }
    @include bp(medium) {
        padding: 60px 0;
    }
    @include bp(medium) {
        padding: 100px 0;
    }

}

.portfolio{
    

    &__three-box{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        margin: 20px 0;

        @include bp(medium){
            flex-direction: row;
            justify-content: space-around;
            margin: 50px 0;

            .portfolio-box{
                margin: 0 20px;
            }
        }
    }
}

/* CONTACT SECTION  */

.contact-section{
    background-color: $gray-color;
}

.contact{
    width: 100%;

    &__inner{
        width: 100%;
        background-color: $white-color;
        position: relative;
        top: -50px;

        @include bp(medium){
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }
    
    &__content{
        padding: 20px 20px;
        
    }
    
    &__title{
        color: $black-color;
        text-align: center;
        margin-bottom: 20px;
        
    }
    
    &__info{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &__icon{
        width: 40px;
        font-size: 30px;
        text-align: center;
    }

    &__text{
        color: $black-color;
        margin-left: 10px;

    }

    &__link{
        color: $black-color;
        font-size: 18px;
        margin-left: 10px;
    }

}

.google-map{
   height:300px;
}

.social-media{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;

    @include bp(small){
        justify-content: flex-start;
    }

    &__square{
        width: 40px;
        height: 40px;
        border: 1px solid black;
        background-color: transparent;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        margin: 0 10px;
        color: $black-color;
        transition: background-color .3s linear;
        

        &::before {
            content: '';
            position: absolute;
            height: inherit;
            width: inherit;
            top: -1px;
            left: -1px;
            background-color: transparent;
            border: 1px solid rgba($color: #000000, $alpha: .5);
            transform: rotate(-10deg);
            transition: transform .3s linear;

        }

        &::after {
            content: '';
            position: absolute;
            height: inherit;
            background-color: transparent;
            width: inherit;
            top: -1px;
            left: -1px;
            border: 1px solid rgba($color: #000000, $alpha: .2);
            transform: rotate(-20deg);
            transition: transform .3s linear;
        }

        

        &:hover {
            &::before {
                transform: rotate(10deg);
            }

            &::after {
                transform: rotate(20deg);
            }
        }

        &--fb{
            &:hover{
                background-color:#3b5998;
            }
        }
        &--in {
            &:hover {
                background-color: #F56040;
            }
        }
        &--tw {
            &:hover {
                background-color: #1DA1F2;
            }
        }
        &--yt {
            &:hover {
                background-color: #c4302b;
            }
        }
    }
}
.gallery-section{
        padding: 40px 0;
        background-color: $gray-color;

        @include bp(small) {
            padding: 50px 0;

        }

        @include bp(medium) {
            padding: 60px 0;
        }

        @include bp(medium) {
            padding: 100px 0;
        }
    }
.gallery{
    margin: 100px 15px 0 15px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 250px 150px;
    grid-auto-flow: dense;

    &__item {
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease-in-out,
                filter 0.3s ease-in-out;

        }

        img:hover {
            transform: scale(1.05);
            filter: brightness(0.6);
        }

        @media (min-width: 580px) {
            &:first-child {
                grid-area: 1 / 1 / span 2 / span 2;
            }

            &:nth-child(3n) {
                grid-column: span 2;
            }
        }
    }
}

footer{
    background-color: $green-color;
    text-align: center;
    padding: 20px 0;
}