@import 'variables.scss';
@import 'settings.scss';
@import 'mixins.scss';
@import 'components.scss';


/* HEADER */



/* HERO */
.hero-section{
    background-color: #000;
    height: 100vh;
    width: 100%;
}