
// COLORS
$white-color: #fff;
$black-color: #000;
$green-color: #8B9281;
$light-gray-color: rgb(226, 226, 226);



//FONTS

$dancing-font: 'Dancing Script', cursive;
$poiret-font: 'Poiret One', cursive;
$sulphur-font:  'Sulphur Point', sans-serif;


//GRADIENT

$primary-gradient: linear-gradient(180deg, rgba(198, 198, 198, 1) 0%, rgba(139, 146, 129, 1) 100%);

//BACKGROUND 

$black-opacity: rgba(0, 0, 0, 0.5);

// BREAKPOINTS

$bp-large: 1600px;
$bp-desktop: 1200px;
$bp-medium: 992px;
$bp-small: 768px;
$bp-phone: 576px;